:root{
 --color-blue: #0072DB;
 --color-orange: #FF9900;
}
.body{
    margin: 0;
}
.cards{
    min-width: 992px;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 34px;
}
.card__margin{
    margin: 0 3%;
}
.card__img > img{
    width: 100%;
}
.card__title{
    color: var(--color-blue);
    padding-left: 1em;
    font-weight: bold;
    padding-top: 15px;
}
.imag1{
    box-shadow: -2px 5px 15px #00D1FF;
}
.imag2{
    box-shadow: 0 5px 11px #00D1FF;
}
.imag3{
    box-shadow: 3px 5px 13px #00D1FF;
}
.card__description{
    color: var(--color-orange);
    padding-left: 1em;
}
.title_head{
    text-align: center;
}
.title_head_left{
    color: #3E45E8;
}
.title_head_right{
    color: #E8C23E;
}
.head_content{
padding: 75px 0 75px 100px;
text-align: left;
background: url(../imag/prapor.svg) 190px 150px/30px 50% no-repeat,
linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2)) center/cover no-repeat,
url(../imag/bg.svg) center/cover no-repeat;
}
.head_text_content{
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 2%;
    line-height: 2.3em;
    text-align: left;
}
.title_cards_text{
padding-left: 5%;
padding-top: 3%;
}
.title_cards{
    display: inline;
    line-height: 0%;
}
.down_flag_line{
    width: 40%;
    height: 5px;
    background: linear-gradient(90deg, rgba(1,222,255,1) 0%, rgba(21,2,255,1) 50%, rgba(255,169,2,1) 50%, rgba(255,255,255,1) 100%);
    padding-bottom: .5%;
    margin-bottom: 1%;
}
.map_title{
    text-align: center;
}
.map_title_text{
    text-decoration: underline #1400FF 6px;
    text-underline-offset: 15px;
}
.map_img{
    padding-top: 5%;
}
.map_title > a {
    color:#ffffff;
    font-size: 30px;
    padding: 5px 125px;
    text-decoration: none;
    background-color: #3E45E8;
    border-radius: 20px;
    margin: auto;
}
.footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(14,7,97,1) 0%, rgba(1,50,53,1) 100%);
}
.footer_text{
    padding:0;
    margin: 0;
    list-style: none;
    letter-spacing: 5px;
    display: block;
}
.footer_text_left{
    color: #3E45E8;
    margin-right: 10px;
}
.footer_text_right{
    color: #DFE31E;
}
.email > a {
    color: #A89D9D;
}
.telephone{
    padding-top: 15px;
    padding-bottom: 15px;
}
.telephone> a {
    color: #A89D9D;
}
.icons > a {
    padding-right: 15px;
}
