body {
    margin: 0;
    min-width: 900px;
    max-width: 2000px;
    font-family: "PT Sans", sans-serif;
    background-color: #fbe4ff;
}
.header {
    padding: 0 10%;
    background-color: #243B93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.header__navigation {
    width: 80%;
    font-size: 0.5;
}
.header__nav__menu {
     padding: 0;
    list-style: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-item > a {
text-decoration: none;
font-size: 16px;
font-weight: 700;
color: #ffffff;
}
.hheader__nav-item>a>img {
    vertical-align: middle;
    padding-right: 5px;
}
.language>a{
    font-size: 28px;
    font-weight: 700;
}
.title_header {
background-color: #BFF0FF;

font-weight: 100%;
height: 85px;
}
.title_header > h2 {
font-weight: 400;
font-style: italic;
font-size: 44px;
padding: 1% 10%;
margin: 0 0 auto;
}
.title__search {
    position: relative;
    padding: 1% 10%;
}
.title__search > a {
    text-decoration: none;
    background-color: #ffffff;
    display: block;
    padding: 1% 0;
    color: #0000009C;
    text-align: center;
}

.cards {
    margin-top: 56px;
}

.card {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: 1320px;
    background: linear-gradient(90deg, #ADCBD5 10%, #00AEE6 90%);
    min-height: 300px;
    margin-bottom: 42px;
    box-sizing: border-box;
}

.card:hover {
    cursor: pointer;
    background-color: #2CBDEB;
    box-shadow: 0px 0px 60px 0px #2CBDEB;
    transition: ease-in .5s;
}

.card img {
    width: 447px;
    height: 246px;
    padding: 33px 0px 21px 52px;
}

.main_info {
    max-width: 739px;
    padding-left: 30px;
}

.card_name {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    color: #353C57;
    line-height: 46.62px;
    margin-top: 14px;
    margin-bottom: 0px;
}

.card_line {
    background-color: #FFFFFF;
    max-width: 739px;
    height: 3px;
}

.card_text {
    color: #202846;
    background-color: #EDFBFF;
    min-height: 205px;
    margin-top: 10px;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28.49px;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 16px;
}

.card svg {
    position: absolute;
    right: 10px;
    top: 6px;
}

.card path:hover {
    fill: #FFF500;
}

.card_button {
    width: 210px;
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    display: flex;
    position: absolute;
    bottom: 11px;
    right: -33px;
    box-sizing: border-box;
    padding: 4px 32px 11px 38px;
}

.card_button_text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 31.08px;
    color: #FFFFFF;
    text-decoration: none;
}

.card_button:hover, .change_avatar:hover,
.settings:hover, .buttom_exit:hover {
    background-color: #EF075B;
}

.Personal__Area {
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
}

.Personal__Area_text {
    margin: 0 auto;
    margin-top: 39px;
    color: #243B93;
    display: flex;
    align-items: center;
    height: 85px;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
}

.contact {
    display: flex;
    margin: 0 auto;
    margin-top: 36px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    width: 1318px;
    height: 498px;
}

.option {
    display: flex;
}

.avatar_profile {
    width: 196px;
    height: 184px;
    padding-top: 77px;
    padding-left: 167px;
    padding-right: 168px;
}

.change_avatar,
.settings {
    width: 250px;
    height: 50px;
    background-color: #243B93;
    border-radius: 30px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


.change_avatar_buttom {
    padding-top: 35px;
    padding-left: 148px;
}

.settings_buttom {
    padding-top: 26px;
    padding-left: 148px;
}

.settings {
    background-color: #243B93;
}

.change_avatar_text,
.settings_text {
    font-family: 'PT Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    color: white;
}

.right_side {
    width: 739px;
    padding-top: 46px;
}

.bold {
    font-family: 'PT Sans';
    font-style: italic;
    color: #353C57;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    height: 80px;

}

.normal {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    height: 80px;
}

.Contacts_main {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}

.Contacts_main_text > h1 {
    color: #243B93;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    height: 57px;
}

.Contacts_main_text {
    margin: 0 auto;
    margin-top: 0px;
    color: #202846;
    display: flex;
    align-items: center;
    height: 85px;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
}

.buttom_e {
    padding-top: 19px;
    padding-bottom: 56px;
}

.buttom_exit {
    margin: 0 auto;
    height: 50px;
    width: 174px;
    border-radius: 30px;
    background-color: #243B93;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}

.buttom_exit_text {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 31px;
    text-align: center;
}

.contacts {
    display: flex;
    max-width: 1328px;
    margin: 0 auto;
    justify-content: space-between;
}

.tel_word,
.adress_word,
.mail_word {
    font-family: PT Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    color: #000000;
}

.number,
.position,
.e-mail {
    font-family: PT Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
}

.tel_line,
.adress_line,
.mail_line {
    height: 3px;
    background-color: #202846;
}

.tel_line {
    width: 244px;
}

.adress_line {
    width: 386px;
}

.mail_line {
    width: 264px;
}

iframe {
    border: 3px solid #243B93;
    border-radius: 40px;
    min-width: 499px;
    min-height: 290px;
}

.cantacts_left_side,
.contacts_middle_side,
.contacts_right_side {
    margin-top: 25px;
}

.adress_word {
    margin-top: 16px;
}

.down_page {
    margin: 0 auto;
}

footer {
    background-color: #243B93;

}

.down_page_text {
    margin: 0 auto;
    margin-top: 28px;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    height: 65px;
    letter-spacing: 0.16em;
    padding-top: 8px;
    max-width: 1318px;
    display: flex;
    align-items: center;
}

.nav_arrow {
    width: 101px;
    height: 101px;
    background-color: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    bottom: 25px;
    right: 30px;
    position: fixed;
    text-align: center;
}
.nav_arrow > a {
display: inline-block;
padding: 29px 39px;
}

.arrow_up {
    margin: 0 auto;
}

.nav_arrow:hover {
    background-color: rgba(74, 89, 253, 0.971);
}
